<launch>
  <arg name="robot_name"  default="d455" doc="Namespace of the platform producing sensor data." />
  <arg name="robot_id"    default="0" doc="ID of the platform producing sensor data." />
  <arg name="online"      default="true" />
  <arg name="log_output"  default="false"/>
  <arg name="use_d455"    default="true" />
  <arg name="verbosity"   default="0"/>

  <!-- BoW vector publishing for Kimera-Multi -->
  <arg name="bow_batch_size"          default="10" />
  <arg name="bow_skip_num"            default="2" />
  <arg name="publish_vlc_frames"      default="false"/>

  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync"   default="false"/>
  <arg name="use_external_odom"       default="false"/>
  <arg name="use_lcd"                 value="false"/>
  <arg name="lcd_no_optimize"         value="true"/>
  <arg name="lcd_no_detection"        value="true"/>
  <!-- diable stereo depth checks for LCD feature matching -->
  <arg name="lcd_disable_stereo_match_depth_check" default="true"/>
  <!-- diable backend using incremental pose -->
  <arg name="no_incremental_pose" default="true"/>

  <!-- enable publishing but disable all GUIs -->
  <arg name="visualize"		      default="true"/>
  <arg name="viz_type"                default="2" />
  <arg name="use_rviz"                default="true"/>

  <!-- Other settings -->
  <arg name="log_gt_data"             value="true"/>
  <arg name="log_imu_data"            value="true"/>
  <arg name="should_use_sim_time"     default="false"/>
  <arg name="params_folder"           default="/root/bridge/d455_params" />

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"      default="/$(arg robot_name)/d455/infra1/image_rect_raw"/>
  <arg name="right_cam_topic"     default="/$(arg robot_name)/d455/infra2/image_rect_raw"/>
  <arg name="imu_topic"           default="/$(arg robot_name)/d455/imu"/>
  <!-- <arg name="external_odom_topic" default="/$(arg robot_name)/t265/odom/sample"/> -->
  <!-- <arg name="external_odom_topic" default="/$(arg robot_name)/odom"/> -->
  <arg name="external_odom_topic" default="/$(arg robot_name)/world"/>

  <!-- frame information -->
  <arg name="map_frame_id"      value="$(arg robot_name)/map"/>
  <arg name="base_link_frame_id"  value="$(arg robot_name)/base_link"/>
  <arg name="odom_frame_id"        value="$(arg robot_name)/odom"/>
  <arg name="left_cam_frame_id"   value="d455_infra1_optical_frame"/>
  <arg name="right_cam_frame_id"  value="d455_infra2_optical_frame"/>

  <!-- Launch actual pipeline -->
  <group ns="$(arg robot_name)" >
    <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"  pass_all_args="true"/>

    <!-- static transform for realsense to base frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_realsense" args="-0.030, 0.007, 0.016 0.500, -0.500, 0.500, 0.500  $(arg robot_name)/base_link d455_link" />

  </group>  <!-- ns="$(arg robot_name)" -->

</launch>